<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :body, style: "display: block" %>
    <%#= form.text_area :body %>
    <%= form.rich_text_area :body %>
  </div>
  <div>
    <%= form.label :uploads, style: "display: block" %>
    <%= form.file_field :uploads, multiple: true %>
  </div>
  <% if current_user.admin? %>
    <div>
      <%= form.label :announcement, "Mark as Announcement", style: "display: block" %>
      <%= form.check_box :announcement %>
    </div>
  <% end %>
  <div>
    <%= form.label :topic_id, "Select Topic", style: "display: block" %>
    <%= form.collection_select :topic_id, Topic.all, :id, :name, include_blank: true %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>