<div id="<%= dom_id post %>">
  <hr>
  <% if post.pinned %>
    <p>
      pinned
      <i class="bi bi-pin-fill"></i>
    </p>
  <% end %>
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <% if post.user %>
      <%= link_to post.user.name, user_profile_path(post.user) %>
    <% else %>
      Anonymous
    <% end %>
  </p>

  <% if post.topic %>
    <p>
      <strong>Topic:</strong>
      <%= post.topic.name %>
    </p>
  <% else %>
    <p>
      <strong>Topic:</strong>
      Uncategorized
    </p>
  <% end %>

  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

  <% if post.uploads.attached? %>
    <h3>Attachments:</h3>
    <ul>
      <% post.uploads.each do |upload| %>
        <li>
          <%= link_to upload.filename, rails_blob_path(upload, disposition: "attachment") %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No attachments</p>
  <% end %>

  <strong>Created:</strong>
  <%= time_ago_in_words(post.created_at) %> ago
  </p>
  <p>
    <strong>Updated:</strong>
    <%= time_ago_in_words(post.updated_at) %> ago
  </p>

</div>
