<div id="<%= dom_id post %>" class="card post-card mt-1" style="padding: 10px">
  <p>
    <% if post.pinned %>
        pinned
        <i class="bi bi-pin-fill"></i>
    <% end %>
    <% if post.topic %>
      <strong>Topic:</strong>
      <%= post.topic.name %>
    <% else %>
      <strong>Topic:</strong>
      Uncategorized
    <% end %>
  </p>

  <h2>
    <%= post.title %>
  </h2>

  <p>
    <strong>Author:</strong>
    <% if post.user %>
      <%= link_to post.user.name, profile_user_path(post.user) %>
    <% else %>
      Anonymous
    <% end %>
  </p>
  <p>
    <%= post.body %>
  </p>

  <% if post.uploads.attached? %>
    <strong>Attachments:</strong>
    <ul>
      <% post.uploads.each do |upload| %>
        <li>
          <%= link_to upload.filename, rails_blob_path(upload, disposition: "attachment") %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No attachments</p>
  <% end %>

  <p>
  <strong>Created:</strong>
  <%= time_ago_in_words(post.created_at) %> ago
  </p>
  <p>
    <strong>Updated:</strong>
    <%= time_ago_in_words(post.updated_at) %> ago
  </p>

  <p>
    <strong>Likes:</strong>
    <%= post.likes.count %>  </p>
  <p>

    <%= button_to 'Unlike', unlike_post_path(post), method: :delete, class: 'btn btn-warning mt-2',
                  style: current_user&.liked_posts&.include?(post) ? 'ski' : 'display: none;',
                  id: "unlike-#{post.id}" %>
    <%= button_to 'Like', like_post_path(post), method: :post, class: 'btn btn-primary mt-2',
                  style: current_user&.liked_posts&.include?(post) ? 'display: none;' : 'ski',
                  id: "like-#{post.id}" %>
  </p>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const likeButton = document.getElementById("like-<%= post.id %>");
    const unlikeButton = document.getElementById("unlike-<%= post.id %>");

    if (likeButton) {
      likeButton.addEventListener("click", function() {
        likeButton.style.display = "none";
        unlikeButton.style.display = "block";
      });
    }

    if (unlikeButton) {
      unlikeButton.addEventListener("click", function() {
        unlikeButton.style.display = "none";
        likeButton.style.display = "block";
      });
    }
  });
</script>