
<% content_for :title, "Posts" %>


<h1>Posts
  <% if params[:topic_id] %>
    on: <%= @topics.find(params[:topic_id]).name %> <br>
  <% end %>
  <% if params[:search] %>
    containing: "<%= params[:search] %>"
  <% end %>
</h1>

sort by:
<div class="btn-group">
  <%= link_to "Pinned", posts_path(request.query_parameters.merge(order: 'pinned')), class: "btn btn-outline-primary #{'active' if params[:order] == 'pinned'}" %>
  <%= link_to "New", posts_path(request.query_parameters.merge(order: 'new')), class: "btn btn-outline-primary #{'active' if params[:order] == 'new' || !params[:order]}" %>
  <%= link_to "Old", posts_path(request.query_parameters.merge(order: 'old')), class: "btn btn-outline-primary #{'active' if params[:order] == 'old'}" %>
</div>

<div class="mt-2" id="posts">
  <% @posts.each do |post| %>
    <div style="cursor: pointer;" onclick="location.href='<%= post_path(post) %>';">
      <%= render post %>
    </div>
  <% end %>
</div>