<div class="container">
  <%= render @post %>
  <div>
    <%= button_to "Edit this post", edit_post_path(@post), method: :get, class: 'btn btn-primary mt-2' %>
  <% if @post.pinned %>
    <%= button_to 'Unpin Post', unpin_post_path(@post), method: :patch, class: 'btn btn-warning mt-2' %>
  <% else %>
    <%= button_to 'Pin Post', pin_post_path(@post), method: :patch, class: 'btn btn-primary mt-2' %>
  <% end %>
    <%= button_to "Destroy this post", @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger mt-2' %>
  </div>

</div>

<div class="container">
  <h2>Comments</h2>
  <%= render 'comments/form', post: @post %>
  <% @comments.each do |comment| %>
    <%= render comment, post: @post %>
  <% end %>
</div>
